header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.container{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-template-columns: 1fr 4fr;
}

menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;
    justify-items: space-evenly;
}

header button{display:none;}

@media only screen and (max-width: 768px) and (min-width: 481px){
    header{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    header button{display:block;}

    .container{
        display: grid;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-template-columns: 4fr 1fr;
    }

    nav{
        display: grid;
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

@media (max-width: 480px) {
    header{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    header button{
        display:block;
    }

    .container{
        display: grid;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: repeat(1,1fr);
    }

    nav{
        display: grid;
        grid-column-start: 1;
        grid-column-end: -1;
    }

    menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        justify-content: space-evenly;
        justify-items: space-evenly;
    }
}

.hidden{
    display:none;
}